<!-- Avatar Modal Selector -->
<div>
  <span class="text-muted d-block mb-3">Currently selected:</span>

  <img src="{{p_form.instance.avatar.image.url}}" alt="{{p_form.instance.avatar.image.name}}" class="avatar-selected-preview d-block mb-3">

  <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#avatar-select-modal">
      Select Avatar...
  </button>

  <div class="modal fade" id="avatar-select-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Select Your Avatar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% include 'users/avatar-input/avatar_select.html' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-avatar-select" data-dismiss="modal">Select</button>
          </div>
        </div>
      </div>
  </div>
</div>