<!-- Modal Trigger -->
<button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#roomCodeQRModal">
    <span class="material-icons">qr_code_scanner</span>
</button>

<!-- Modal -->
<div class="modal fade" id="roomCodeQRModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <!-- Header -->
        <h5 class="modal-title" id="exampleModalLabel">Scan {{ room.name }}'s code</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- QR Code -->
      <div class="modal-body">
        <div id="roomQR" class="d-flex justify-content-center"></div>
        <small class="d-block pt-3 text-center">Scan the QR code with a mobile scanner, or download the image and share it to your friends.</small>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <a href="#" class="btn btn-primary" id="roomQRDownload" download="roomfiles-{{room.name}}-qr">Download</a>
      </div>
    </div>
  </div>
</div>
