/* #region ----- BOOTSRAPMD FIXES ----- */
/* BootsrapMD form invalid-feedback fix */
.form-group .invalid-feedback {
    display: block !important;
    margin: 0;
    margin-top: 1em !important;
}

/* Bug Fix : Not aligning to right */
.dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

.text-decoration-none:hover {
    text-decoration: none !important;
}

.navbar-brand {
    margin-right: 0 !important;
}
/* #endregion */



/* #region ----- Avatar Input ----- */
.avatar-preview {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: auto;
}

.avatar-thumbnail {
    width: 40px;
    height: auto;
}

.content-with-avatar {
    padding-left: 60px;
}

.avatar-select-container {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-around;
}

.avatar-item {
    padding: 5px !important;
    margin: 5px !important;
    border: 2px gray solid;
    border-radius: 5px;
    cursor: pointer;
}

.avatar-item-selected {
    border-color: darkcyan !important;
    background-color: rgba(0, 138, 138, 0.3);
}

.avatar-selected-preview {
    max-width: 40px;
    max-height: 40px;
}
/* #endregion */


.window-height {
    height: calc(100vh - 56px) !important;
}

#noscript-modal {
    background: white;
    display: block !important;
}

.btn-like {
    display: flex !important;
    align-items: center;
}

.badge-notification {
    position: absolute;
    top: 0;
    right: -1em;
}

.badge-tab {
    margin-bottom: -1em;
}

.card-unread {
    background-color: rgba(0, 139, 139, 0.15);
}

.card {
    transition: background-color 2s ease-in-out;
}
