{% extends 'rooms/base.html' %}

{% block content %}

<div class="container pt-4">
    
    <div class="container">
        <h3>About RoomFiles</h3>
    </div>
    

    <hr>

    <section class="container">
        <p>RoomFiles is a place where you and your colleagues can gather and upload files to collaborate with!</p>
        <p>With the ongoing pandemic, more academic institutions are resorting to online services to accomodate their mixed-learning systems.</p>
        <p>This website/web-app could be an alternative place for you (with your friends) to store and share your files!</p>
        
        <div class="card text-white bg-warning mb-3">
            <div class="card-header">
                <h6>Important note to users!</h6>
            </div>
            <div class="card-body">
                
                <p>
                    This website is only a small, non-production type project (for my personal portfolio as a developer), and <strong>might still contain some problems</strong>. <br>
                    If you encounter a problem, please <a href="#" class="text-white"><u>contact me</u></a> explaining what happened, to help me improve this site!
                </p>
            </div>

        </div>
        
        <p>Thank you for using RoomFiles!</p>
    </section>
    
    <section class="container pt-5">
        <h4>About the developer</h4>
        <hr>
        <p>My name is Christian Kyle Ching, and I'm an aspiring developer.</p>
        <p>
            If you're interested, you can view 
            <a href="https://christiankyleching.now.sh/works.html">my other works</a>
            or <a href="https://christiankyleching.now.sh/about.html">contact me</a>.
        </p>
            
    </section>

</div>


{% endblock content %}
