{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RoomFiles</title>

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'home' %}" class="navbar-brand">RoomFiles</a>

        <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <!-- Navbar Links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                </li>

                <li class="nav-item">
                    {% if user.profile.room %}
                    <a href="{% url 'room' user.profile.room.id user.profile.room.slug %}" class="nav-link">My Room</a>
                    {% else %}
                    <a href="{% url 'room-landing' %}" class="nav-link">My Room</a>
                    {% endif %}
                </li>
                {% endif %}

                <li class="nav-item">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="nav-link d-inline-block text-primary">Login</a>
                    or
                    <a href="{% url 'register' %}" class="nav-link d-inline-block">Sign Up</a>
                    {% else %}
                    <a href="{% url 'logout' %}" class="nav-link d-inline-block text-danger">Logout</a>
                    {% endif %}
                </li>

            </ul>

        </div>
    </nav>

    <!-- Global Messages -->
    {% if messages %}
    <div class="container pt-3">

        {% for message in messages %}

            {% if not message.tags == 'error'%}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            {% endif %}

        {% endfor %}
        
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    <!-- Bootstrap Dependencies -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!-- SnackbarJS plugin -->
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

    <!-- Custom JS -->
    <script src="{% static '/js/app.js' %}"></script>
    
</body>
</html>