{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RoomFiles</title>

    {% include 'rooms/cdn_dependencies/bootstrapmd_css.html'%}
    {% include 'rooms/cdn_dependencies/font_css.html'%}
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>

    <noscript>
        <div class="modal" id="noscript-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Javascript is disabled</h5>
                    </div>
                    <div class="modal-body">
                        Please enable Javascript to access the site.
                        Click <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/auto" target="_blank">here</a>
                        on how to enable it in your browser.
                    </div>
                </div>
            </div>
        </div>
    </noscript>


    {% include 'rooms/cdn_dependencies/jquery.html'%}
    {% include 'rooms/cdn_dependencies/popper.html'%}

    
    <!-- #region - Navbar & Messages -->
    <!-- Navbar -->
    {% include 'rooms/navbar.html' %}

    <!-- Global Messages -->
    {% if messages %}
    <div class="container pt-3">

        {% for message in messages %}

            {% if not message.tags == 'error'%}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            {% endif %}

        {% endfor %}
        
    </div>
    {% endif %}

    <!-- #endregion -->

    
    {% block content %}{% endblock %}

    
    {% include 'rooms/cdn_dependencies/snackbar.html'%}
    {% include 'rooms/cdn_dependencies/bootstrapmd.html'%}
    {% include 'rooms/cdn_dependencies/waypoints.html'%}
    {% include 'rooms/cdn_dependencies/js-cookie.html'%}


    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
        });

        // $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
        $('body').bootstrapMaterialDesign();
    </script>
    
    <!-- Custom App JS -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>