{% extends 'rooms/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="card mt-3">
        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <legend>
                    {% if file %}
                        Update File "{{ file.name }}"</legend>
                    {% else %}
                        Upload File
                    {% endif %}
                </legend>

                <fieldset class="form-group">
                    {{ form | crispy }}
                </fieldset>

                <div class="form-group text-right">
                    <button class="btn btn-primary" type="submit">
                        {% if file %}
                            Save
                        {% else %}
                            Upload
                        {% endif %}
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock content %}