{% extends 'rooms/base.html' %}

{% block content %}
<div class="container">

    <div class="card mt-3">

        <form method="POST">
            {% csrf_token %}

            <div class="card-header">
                <h5>Are you sure you want to delete "{{ file.name }}"?</h5>
            </div>

            <div class="card-body text-right">
                <a href="javascript:history.back()" class="btn btn-outline-secondary mr-3">Cancel</a>
                <button type="submit" class="btn btn-danger btn-raised ml-3">Yes, Delete</a>
            </div>

        </form>
    </div>

</div>
</div>
{% endblock content %}