{% extends 'rooms/base.html' %}
{% load static %}

{% block content %}
<div class="container">

    {% if people %}
        <p class="text-muted pt-4 m-0 text-center">{{ people | length }} people in <strong>{{ room.name }}</strong></p>

        <ul class="list-group">
            {% for person in people %}
            <li class="list-group-item">
                
                {% include 'rooms/item_templates/avatar_thumbnail.html' %}

                <div>
                    
                    <h6 class="{% if user.profile == person %}text-primary{% endif %}">
                        {{ person.user.profile.display_username }}
                        
                        {% if room.created_by == person.user %} (Creator) {% endif %}
                    </h6>
                    
                    <span {%if user.profile.display_name == 'Unnamed' %}class="text-muted"{% endif %}>
                        {{ user.profile.display_name }}
                    </span>
                    
                </div>
                

            </li>
            {% endfor %}
        </ul>

    {% else %}
        <div class="text-center">
            <span>No people in this room yet. Invite your mates!
        </div>
    {% endif %}

</div>

{% endblock %}