{% extends 'rooms/base.html' %}
{% load static %}

{% block content %}
<div class="container" id="roomDetailID">

    <div class="card my-3">

        <div class="card-body">

            <div>
                <h4 class="float-left">{{ room.name }}</h4>

                <!-- Room Menu Options -->
                <div class="dropdown float-right">
                    <button class="btn btn-dark" type="button" id="optionsMenuButton" data-toggle="dropdown">
                      <span class="material-icons">more_vert</span>
                    </button>
          
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsMenuButton">
                        
                        <a href="{% url 'file-upload' %}" class="dropdown-item">Upload a File</a>
                        <a href="{% url 'ann-create' %}" class="dropdown-item">Post an Announcement</a>

                        {% if room.created_by == user %}
                        <a href="{% url 'room-edit' room.pk room.slug %}" class="dropdown-item">Edit</a>
                        {% endif %}

                        <a href="{% url 'room-leave' %}" class="dropdown-item text-danger">Leave Room</a>
                    </div>
                </div>
            </div>
            
            <div class="row w-100 no-gutters">

                <div class="col">
                    <h6>
                        Code: <code id="roomCode" data-hide="false">{{ room.id }}</code>
                    </h6>
                </div>
                <div class="col-auto">
                    <button id="roomCodeCopy" class="btn btn-sm btn-dark float-right" data-toggle="snackbar" data-style="toast" data-content="Copied the room code.">
                        <span class="material-icons">content_copy</span>
                    </button>
                    <button id="roomCodeToggle" class="btn btn-sm btn-dark float-right">
                        <span class="material-icons">visibility</span>
                    </button>
                </div>
                
            </div>
            
            <p class="pt-3">
                <span class="text-muted">Description</span><br>
                {{ room.description }}
            </p>

        
            <!-- TABS -->
            <ul class="nav nav-tabs nav-justified border-primary" id="roomTabs" role="tablist">
                <li class="nav-item">
                    <a href="#files" class="nav-link active" id="files-tab" data-toggle="tab">Files</a>
                </li>
                <li class="nav-item">
                    <a href="#ann" class="nav-link" id="ann-tab" data-toggle="tab">Announcements</a>
                </li>
            </ul>

            <div class="tab-content" id="roomTabsContent">

                <!-- Files Tab -->
                <div class="tab-pane fade show active" id="files" role="tabpanel">
                    <div class="container pt-3">

                        <!-- Search Bar -->
                        <form class="form-group" method="GET">
                            <div class="input-group">
                                <input type="search" placeholder="Search..." class="form-control" name="search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-dark btn-sm">
                                        <i class="material-icons">search</i>
                                    </button>
                                    {% if done_search %}
                                        <a href="#" class="btn btn-dark link-no-search btn-sm">
                                            <i class="material-icons">cancel</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>                                
                        </form>

                        {% if files %}

                            <p class="text-muted">{{ total_files_count }} files</p>

                            <div class="infinite-container">
                                {% for file in files %}
                                <div class="row infinite-item">
                                    <div class="col">
                                        <h6> <a href="{% url 'file' file.pk %}">{{ file.name }}</a></h6>
                                    
                                        <p>
                                            By: {{ file.posted_by.profile.display_username }}
                                            {% if file.posted_by.last_name %}
                                                ({{file.posted_by.last_name}})
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-auto text-right">

                                        <!-- File Options : Buttons -->
                                        <div class="d-none d-sm-block">
                                            {% if file.posted_by == user %}
                                            <a href="{% url 'file-delete' file.pk %}" class="btn btn-danger">
                                                <span class="material-icons">delete_forever</span>
                                            </a>
                                            <a href="{% url 'file-edit' file.pk %}" class="btn btn-dark">
                                                <span class="material-icons">edit</span>
                                            </a>
                                            {% endif %}
                                            <a href="{% url 'file' file.pk %}" class="btn btn-primary">
                                                <span class="material-icons">cloud_download</span>
                                            </a>
                                        </div>

                                        <!-- File Options : Menu -->
                                        <div class="d-sm-none">
                                            <div class="dropdown">
                                                <button class="btn btn-dark" type="button" id="fileOptionsMenuButton" data-toggle="dropdown">
                                                    <span class="material-icons">more_vert</span>
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="fileOptionsMenuButton">
                                                    <a href="{% url 'file' file.pk %}" class="dropdown-item text-primary">Download</a>
                                                    {% if file.posted_by == user %}
                                                    <a href="{% url 'file-edit' file.pk %}" class="dropdown-item">Edit</a>
                                                    <a href="{% url 'file-delete' file.pk %}" class="dropdown-item text-danger">Delete</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            
                                        </div>

                                        
                                    </div>

                                </div>
                                {% endfor %}
                            </div>

                            {% if files.has_next %}
                                <a href="?file_page={{ files.next_page_number }}" class="infinite-more-link"></a>
                            {% endif %}


                        {% else %}
                            <div class="text-center">
                                No files found.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Announcements Tab -->
                <div class="tab-pane fade" id="ann" role="tabpanel">
                    <div class="container pt-3">
                        {% if announcements %}

                            <!-- <p class="text-muted"></p> -->

                            {% for ann in announcements %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    
                                    <strong>
                                        {{ ann.posted_by.profile.display_username }}
                                    </strong>
    
                                    <p>
                                        {{ ann.content|linebreaks }}
                                    </p>

                                    <small>{{ ann.posted_datetime }}</small>
                                </div>
                            </div>
                            {% endfor %}

                            {% if total_announcements_count > 2 %}
                                <a href="{% url 'room-anns' room.pk room.slug %}" class="btn btn-block text-lowercase text-capitalize">View more</a>
                            {% endif %}
                            

                        {% else %}
                        <div class="text-center">
                            No announcements made.
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
        <!-- End Card Body -->

    </div>
    <!-- End Card -->

</div>

{% endblock %}