{% extends 'rooms/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="card mt-3">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <legend>Are you sure you want to leave room "{{ user.profile.room.name }}"?</legend>
                
                <div class="form-group text-right">
                    <a href="{% url 'room' user.profile.room.id user.profile.room.slug %}" class="btn btn-outline-secondary">Cancel</a>
                    <button class="btn btn-danger btn-raised mr-3" type="submit" name="leave">
                        Leave
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock content %}