{% extends 'rooms/BASE.html' %}
{% load static %}

{% block content %}
<div class="container" id="roomDetailID">

    <div class="card my-3">

        <div class="card-body">

            <div>
                <h4 class="float-left">{{ room.name }}</h4>

                <!-- Room Menu Options -->
                <div class="dropdown float-right">
                    <button class="btn btn-dark" type="button" id="optionsMenuButton" data-toggle="dropdown">
                      <span class="material-icons">more_vert</span>
                    </button>
          
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="optionsMenuButton">
                        
                        <a href="{% url 'file-upload' %}" class="dropdown-item">Upload a File</a>
                        <a href="{% url 'ann-create' %}" class="dropdown-item">Post an Announcement</a>

                        {% if room.created_by == user %}
                        <a href="{% url 'room-edit' room.pk room.slug %}" class="dropdown-item">Edit</a>
                        {% endif %}

                        <a href="{% url 'room-people' room.pk room.slug %}" class="dropdown-item">View People...</a>
                        <a href="{% url 'room-leave' %}" class="dropdown-item text-danger">Leave Room</a>
                    </div>
                </div>
            </div>
            
            <!-- Room Code -->
            <div class="row w-100 no-gutters">

                <div class="col">
                    <h6>
                        Code: <code id="roomCode" data-hide="false">{{ room.id }}</code>
                    </h6>
                </div>

                <!-- Room Code Buttons -->
                <div class="col-auto">
                    
                    <!-- QR Code modal -->
                    {% include 'rooms/modals/room_qr.html' %}
                    
                    <button id="roomCodeToggle" class="btn btn-sm btn-dark">
                        <span class="material-icons">visibility</span>
                    </button>

                    <button id="roomCodeCopy" type="button" class="btn btn-sm btn-dark" data-toggle="snackbar" data-style="toast" data-content="Copied the room code">
                        <span class="material-icons">content_copy</span>
                    </button>
                </div>
                
            </div>
            
            <p class="pt-3">
                <span class="text-muted">Description</span><br>
                {{ room.description }}
            </p>

        
            <!-- TABS -->
            <ul class="nav nav-tabs nav-fill border-primary" id="roomTabs" role="tablist">
                <li class="nav-item">
                    <a href="#files" class="nav-link active" id="files-tab" data-toggle="tab" data-seen-href="{% url 'api-notif-read-objects' model='file' %}">
                        <span>Files</span>                        
                        <span class="badge badge-pill badge-info {% if user.profile.notification_count_file <= 0 %}d-none{% endif %}">
                            {{ user.profile.notification_count_file }}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#ann" class="nav-link" id="ann-tab" data-toggle="tab" data-seen-href="{% url 'api-notif-read-objects' model='announcement' %}">
                        <span>Announcements</span>
                        <span class="badge badge-pill badge-info {% if user.profile.notification_count_ann <= 0 %}d-none{% endif %}">
                            {{ user.profile.notification_count_ann }}
                        </span>
                    </a>
                    
                </li>
            </ul>

            <div class="tab-content" id="roomTabsContent">

                <!-- Files Tab -->
                <div class="tab-pane fade show active" id="files" role="tabpanel">
                    <div class="container pt-3">

                        <!-- Search Bar -->
                        <form class="form-group" method="GET">
                            <div class="input-group">
                                <input type="search" placeholder="Search for files..." class="form-control" name="search" value="{{ search }}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-dark btn-sm">
                                        <i class="material-icons">search</i>
                                    </button>
                                    {% if search != "" %}
                                        <a href="#" class="btn btn-dark link-clear-search btn-sm">
                                            <i class="material-icons">cancel</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>                                
                        </form>

                        {% if files %}

                            <p class="text-muted">{{ total_files_count }} files</p>

                            <div class="infinite-container">
                                {% for file in files %}
                                {% include 'rooms/item_templates/file_item.html'%}
                                {% endfor %}
                            </div>

                            <!-- Loading Modal -->
                            <div id="loadingModal" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            Loading...
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if files.has_next %}
                                <a href="?file_page={{ files.next_page_number }}" class="infinite-more-link"></a>
                            {% endif %}


                        {% else %}
                            <div class="text-center">
                                No files found.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Announcements Tab -->
                <div class="tab-pane fade" id="ann" role="tabpanel">
                    <div class="container pt-3">

                        <form class="form-group" method="GET">
                            <a href="{% url 'room-anns' room.pk room.slug %}" class="input-group text-decoration-none">
                                <input type="search" placeholder="Search for announcement..." class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-dark btn-sm">
                                        <i class="material-icons">search</i>
                                    </button>
                                </div>
                            </a>
                        </form>
                        
                        {% if announcements %}

                            

                            {% for ann in announcements %}
                            {% include 'rooms/item_templates/announcement_item.html' %}
                            {% endfor %}

                            

                            {% if total_announcements_count > 10 %}
                                <a href="{% url 'room-anns' room.pk room.slug %}" class="btn btn-block text-lowercase text-capitalize mt-3">View more</a>
                            {% endif %}
                            

                        {% else %}
                        <div class="text-center">
                            No announcements made.
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
        <!-- End Card Body -->

    </div>
    <!-- End Card -->

</div>

{% include 'rooms/cdn_dependencies/qrcode.html'%}

{% endblock %}