{% extends 'rooms/base.html' %}

{% block html_title %} - Create / Join Room{% endblock %}

{% block content %}
<div class="container window-height d-flex">

    <div class="m-auto text-center pb-5">
        <h2 class="pb-3">You haven't join in a room yet</h2>

        <div>
            <a href="{% url 'room-create' %}" class="btn btn-primary btn-raised mr-5">Create Room</a>
            <a href="{% url 'room-join' %}" class="btn btn-outline-secondary">Join Room</a>
        </div>
    </div>

</div>
{% endblock %}
