{% extends 'rooms/BASE.html' %}

{% block content %}
<div class="container infinite-container pt-3">

    <div class="text-right py-3">
        <a href="{% url 'api-notif-read-all' %}" class="btn btn-secondary btn-sm btn-raised" id="readAllNotifications">Mark all as read</a>
    </div>
    

    {% for notif in notifications %}
    <a href="{{ notif.action_obj.get_absolute_url }}" class="card infinite-item mb-3 {% if not notif.is_read %}card-unread{% endif %}">
        <div class="card-body">

            <img src="{{request.scheme}}://{{request.get_host}}{{ notif.actor.profile.avatar.image_url }}" alt="" class="avatar-thumbnail float-left">

            <div class="content-with-avatar">
                <strong>{{ notif.actor.profile.display_username }}</strong>
                
                {{ notif.verb }}

                {% if notif.action_obj_contenttype.name|slice:':1' in 'aeiou' %} an {% else %} a {% endif %}

                {{ notif.action_obj_contenttype.name }}

                "{{ notif.action_obj.notification_name }}""

                <span class="small d-block text-muted pt-2">
                    {{ notif.executed_datetime|timesince }}
                </span>
            </div>
        </div>
    </a>
    {% endfor %}

</div>

{% if notifications.has_next %}
    <a href="?page={{ notifications.next_page_number }}" class="infinite-more-link"></a>
{% else %}
    <div class="text-center infinite-item pt-2 pb-4">
        No more notifications
    </div>
{% endif %}

{% endblock content %}