{% extends 'rooms/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="card mt-3">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <legend>Reset Your Password</legend>
                <p>Please enter the email address used in your account.</p>
                <fieldset class="form-group mt-3">
                    {{ form | crispy }}
                </fieldset>

                <small>
                    <strong class="text-warning">NOTE: </strong>
                    If you haven't entered your email address upon registration, or did not edit your profile's email address later on, you <strong class="text-danger">cannot</strong> receive an email password reset.
                </small>

                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">
                        Reset
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock content %}

