{% extends 'rooms/base.html' %}
{% block html_title %} - Change Password{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="card mt-3">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <legend>Change Your Password</legend>
                <fieldset class="form-group mt-3">
                    {{ form | crispy }}
                </fieldset>

                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">
                        Save New Password
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock content %}

