<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
  <head>
    <title>{{ site_name }} Password Reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />

  </head>

  <body style="font-family: 'Roboto','Helvetica','Arial',sans-serif;">
        {% url 'password_reset_confirm' uidb64=uid token=token as reset_end_url %}
        {% with reset_url=protocol|add:'://'|add:domain|add:reset_end_url %}

        <h1>{{ site_name }} Password Reset</h1>
      
        <hr>

        <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
        <p>Please click the button below to reset your password:</p>
        <p style="text-align: center;">
            <a href="{{ reset_url }}" style="
                text-decoration: none !important;
                background-color: #3f51b5 !important;
                color: #fff !important;
                padding: 1em !important;
                border-radius: 5px !important;
                display: inline-block !important;">
                Reset your password
            </a>
        </p>

        <small>
            or click this link instead: 
            <a href="{{ reset_url }}"
            style="text-decoration: none !important;">
                {{reset_url}}</a>
        </small>

        <p>Your username, in case you’ve forgotten: {{ user.username }}</p>
        <hr>
        <p>Thanks for using <a href="">{{ site_name }}</a>!</p>
            
      {% endwith %}

      
  </body>
</html>
