{% extends 'rooms/base.html' %}

{% block html_title %} - {{ user.profile.display_username }}{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container">

    
    <div class="card mt-3">
        <div class="card-body">

            <!-- HEADER -->
            <div class="card-header">

                <div class="row">
                    <div class="col-12 col-sm-auto">
                        <div class="avatar-container mx-auto"
                        {% if user.is_staff %}
                        data-border="{% static 'images/special-border.png' %}"
                        {% endif %}
                        >

                        {% if p_form.instance.avatar %}
                            <img src="{{request.scheme}}://{{request.get_host}}{{ p_form.instance.avatar.image_url }}" class="avatar-preview">
                        {% else %}
                            <img src="{% static 'images/user-default.svg' %}" alt="Default Profile Icon" class="avatar-preview">
                        {% endif %}
                        </div>

                    </div>

                    <div class="col-12 col-sm d-flex align-items-center justify-content-center justify-content-sm-start">
                        <!-- User Information -->
                        <div class="text-center text-sm-left py-3">
                            
                            <h5 {%if user.profile.display_name == 'Unnamed'%}class="text-danger"{% endif %}>
                                {{ user.profile.display_name }}
                            </h5>

                            <h6>{{ user.profile.display_username }}</h6>
                            
                            <small>
                                {% if user.email %} {{ user.email }} {% else %} No email {% endif %}
                            </small>
                        </div>
                    </div>
                </div>

                


                
            </div>

            <div class="container pt-4">
                
                <!-- PROFILE INFO -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend>Your Profile</legend>
                        
                        {{ p_form | crispy }}

                        <!-- Custom Avatar Preview -->
                        <div class="form-group bmd-form-group">
                            <input type="hidden" name="avatar" id="id_avatar" value="{{ p_form.instance.avatar.id }}">

                            <label for="id_avatar" class="bmd-label-static">Avatar</label>
                            
                            <!-- Avatar Custom Select Input -->
                            <div class="pt-3">
                                {% include 'users/avatar-input/avatar_modal_select.html' %}
                            </div>
                            

                        </div>

                    </fieldset>
                    <button class="btn btn-primary btn-raised btn-block" type="submit">
                        Save Profile Changes
                    </button>
                </form>

                <!-- ACCOUNT SETTINGS -->
                <a href="{% url 'user-settings' %}" class="btn btn-sm btn-secondary btn-block" type="submit">
                    Account Settings...
                </a>
                
            </div>

        </div>

    </div>

</div>
{% endblock content %}