{% extends 'rooms/base.html' %}
{% block html_title %} - Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="card mt-3">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <legend>Sign Up</legend>
                <fieldset class="form-group">
                    {{ form | crispy }}
                </fieldset>

                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">
                        Register
                    </button>
                </div>

                <div class="text-center small">
                    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>
            </form>

        </div>
    </div>

</div>
{% endblock content %}